:root {
  /* COLORS */
  --secondary-color: #8ecae6; /* rgb(142, 202, 230) */
  --primary-color: #219ebc;
  --accent1-color: #ffb703;
  --accent2-color: #fb8500;
  --accent1-color-transparent: rgba(255, 183, 3, 0.85);
  --page-background-color: #fff;
  --text-color: #0b0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}

h2 {
  padding: 10px 0;
  text-align: center;
}

p {
  line-height: 1.6;
  color: var(--text-color);
}

section {
  margin: 20px auto;
}

/* Hero Section */
.hero {
  position: relative;
  margin: 20px 0;
}

.hero h1,
article {
  position: absolute;
}

.hero article {
  padding: 20px;
  margin: 0 60px;
  bottom: 100px;
  background-color: var(--accent1-color-transparent);
}

.hero h1 {
  display: block;
  height: auto;
  width: 100%;
  top: 40px;
  padding: 10px 10px;
  text-align: center;
  color: var(--page-background-color);
  background-color: rgba(11, 10, 10, 0.7);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.happy-client {
  max-width: 25%;
  float: right;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  right: 30px;
  background-color: var(--primary-color);
}

.logo {
  padding: 10px;
}

/* Navbar */
header nav {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
}
.navigation li {
  flex: 1;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  padding: 10px 20px;
  border-right: 1px solid var(--accent1-color);
  background-color: #ffffff;
  width: max-content;
}

.navigation li:last-child a {
  border-right: none;
}

.navigation a:hover {
  font-weight: 700;
  color: var(--accent1-color);
  text-decoration: underline;
}

/* History */
.history {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}

.history img {
  height: auto;
}

.history-section h2 {
  padding: 10px;
  text-align: center;
}

/* Adventure */
.adventure-section h2 {
  text-align: center;
}

.adventure {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
}

.adventure img {
  max-width: 200px;
}

.adventure figcaption {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--accent1-color-transparent);
}

/* footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--secondary-color);
 
}

footer p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}
footer nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 20px;
  gap: 20px;
}

footer nav a {
  padding-top: 5px;
  text-decoration: none;
}

footer nav a:hover img {
  transform: scale(1.2);
}

/* CONTACT US PAGE */

/* Contact us hero */
.contact-hero {
  position: relative;
  margin: 20px 0;
}

.contact-hero img {
  display: block;
  width: 100%;
  height: auto;
}

.contact-hero h1 {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  top: 50%;
  padding: 10px 10px;
  text-align: center;
  color: var(--page-background-color);
  background-color: rgba(11, 10, 10, 0.7);
}

/* Contact form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  max-width: 500px;
}

form input {
  padding: 5px;
}

form button {
  padding: 10px;
  background-color: var(--accent1-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;

}

fieldset {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  max-width: 600px;

}

fieldset > legend {
  font-size: 16px;
  font-weight: 600;
}

input[type="radio"] {
  margin: 0 5px;
  background-color: var(--accent1-color);

}